{% extends "portfolio/base.html.twig" %}

{% block title %}Cas Richter - Dahl Rocha & Associés – Développement Symfony, Antistatique{% endblock %}

{% block body_class %}{{ parent() }} richter{% endblock %}


{% block previous_work %}{{ 'homepage.work.tehran.title' | trans }}{% endblock %}
{% block previous_link %}{{ path('portfolio_show', { slug: 'tehran' }) }}{% endblock %}
{% block next_work %}{{ 'homepage.work.uchitomi.title' | trans }}{% endblock %}
{% block next_link %}{{ path('portfolio_show', { slug: 'uchitomi' }) }}{% endblock %}

{% block baseline %}
<div class="baseline-space"></div>

{{ parent() }}

<div class="page-title title-image" style="background-image: url('/assets/img/rdr-title.jpg')">
  <section>
    <h1 class="magenta-sep">
      <span></span>
      Richter - Dahl Rocha & Associés
    </h1>
  </section>
</div>
{% endblock %}

{% block content %}

<section>
  <div class="page-content isolated">
    <aside>
      <h3>
        Brief
      </h3>
    </aside>
    <h4>Un cabinet d'architectes présent sur plusieurs continents.</h4>
    <p>qui possède des équipes de designers très compétents en interne.</p>
    <aside>
      <h3>
        Solution
      </h3>
    </aside>
    <h4>Une écoute attentive des attentes du client.</h4>
    <p>Notre créativité pour plier les dernières technologies web à ses attentes.</p>
    <a href="http://www.richterdahlrocha.com/fr/" class="btn">Visiter le site richterdahlrocha.com</a>
  </div>
</section>

<div class="highlight">
  <section>
    <div class="page-content">
      <h3>
        Un aperçu des techniques utilisées :
      </h3>
    </div>
    <div class="icons">
      <ul class="row">
        <li>
          <div class="html dev">
            <span class="icon">H</span>
            <h4 class="title-separation long-sep">
              <span></span>
              HTML 5 / CSS 3
            </h4>
          </div>
        </li>
        <li>
          <div class="github dev">
            <span class="icon">O</span>
            <h4 class="title-separation long-sep">
              <span></span>
              Github
            </h4>
            <p class="github-text">
              Versioning et suivi de projet
            </p>
          </div>
        </li>

        <li>
          <div class="agile">
            <span class="icon">a</span>
            <h4 class="title-separation long-sep">
              <span></span>
              Méthode agile de gestion de projet
            </h4>
            <p class="agile-text">
              Implication maximale du client et de l'équipe à toutes les étapes du projet.
            </p>
          </div>
        </li>
        <li>
          <div class="responsive">
            <span class="icon">X</span>
            <h4 class="title-separation long-sep">
              <span></span>
              Responsive Design
            </h4>
          </div>
        </li>
      </ul>
    </div></section>
  </div>
  <section class="isolated">
    <img src="/assets/img/rdr/full-site.jpg" class="full-width">
  </section>
  <section>
    <div class="page-content">

      <h2>
        Le site que nous avons réalisé est un bon exemple de notre capacité à personnaliser un <a href="http://www.symfony.com">framework Symfony</a> aux désirs du client.
      </h2>

      <p>Le design est responsive, stricto sensu. Un des éléments retrouvés sur les notes de nos premiers briefs résume bien le cahier des charges à ce niveau :</p>
      <blockquote>
        <p>"Ce site doit fonctionner sur un vieux Nokia".</p>
      </blockquote>

      <div class="clear">
        <aside><p><br/><br/><br/><br/>Version mobile fonctionnant sur tous les smartphones du marché</p></aside>
        <p><img src="/assets/img/rdr/mobile.jpg"></p>
      </div>
    </div>
  </section>
  {% endblock %}
