<nav>
    <ul>
        <li {% if is_current_route('homepage') or is_current_route('homepage_i18n') %}class="active"{% endif %}>
            <a href="{{ path('homepage_i18n') }}">{{ 'menu.home' | trans }}</a>
        </li>
        <li {% if is_current_route('team') %}class="active"{% endif %}>
            <a href="{{ path('team') }}">{{ 'menu.team' | trans }}</a>
        </li>
        <li>
            <a href="/blog">{{ 'menu.blog' | trans }}</a>
        </li>
        <li {% if is_current_route('contact') %}class="active"{% endif %}>
            <a href="{{ path('contact') }}">{{ 'menu.contact' | trans }}</a>
        </li>
    </ul>
</nav>
