{% extends "layout.html.twig" %}

{% block title %}{{ 'homepage.title' | trans }}{% endblock %}

{% block head_scripts %}
    <script src="http://platform.twitter.com/anywhere.js?id={{ app.twitter.api_key }}&v=1" type="text/javascript"></script>
{% endblock %}

{% block baseline %}
    <div id="baseline">
        <section>
            <hr class="title-separation"/>
            <h1>
                Nous sommes <a href="/team">des artisans du web</a>, lausannois, curieux et <a href="/blog">exigeants</a>. 
            </h1>
            <a href="/contact" class="action-contact">Contactez-nous</a>
        </section>
    </div>
{% endblock %}

{% block content %}

    <div id="work">
        <h3 class="title-separation">
            <span></span>
            Des réalisations soignées
        </h3>
        <div class="works">
            <a id="uchitomi" href="#">
                <hgroup>
                    <h3>Uchitomi</h3>
                    <p>Boutique en ligne sur mesure avec Magento</p>
                </hgroup>
            </a>
            <a id="rdr" href="#">
                <hgroup>
                    <h3>RDR Architectes</h3>
                    <p>Boutique en ligne sur mesure avec Magento</p>
                </hgroup>
            </a>
            <a id="tw" href="#" class="last">
                <hgroup>
                    <h3>Tehran Watch</h3>
                    <p>Boutique en ligne sur mesure avec Magento</p>
                </hgroup>
            </a>
        </div>
    </div>

    <div id="antistatique">
        <div class="about-us with-aside">
            <aside id="contact-us">
                <div id="work-together">
                    <h3>Travaillons ensemble</h3>
                    <p>
                        <a href="tel:0041216236303">+41 21 623 63 03</a><br/>
                        <a href="mailto:hello@antistatique.net">hello@antistatique.net</a>
                    </p>
                </div>
                <div id="stay-in-touch">
                    <h3>Gardons contact</h3>
                    <p>
                        <a href="http://www.twitter.com/antistatique">Twitter</a><br/>
                        <a href="http://www.facebook.com/Antistatique">Facebook</a><br/>
                        <a href="http://www.linkedin.com/company/antistatique.net">LinkedIn</a>
                        <a href="#RSS">RSS</a>
                    </p>
                </div>
            </aside>
            <article id="our-mission">
                <h1>Notre mission ? Combattre la poussière dans votre présence web.</h1>
                <p>Nous faisons des sites web rutilants et des applications mobiles vraiment utiles. Nous construisons des boutiques en ligne sur-mesure. Nous soignons votre réputation et le positionnement de votre marque. Nous vous aidons à établir puis exécuter des stratégies appropriées pour les médias sociaux.</p>
                <a href="/team" class="btn">Découvrir Antistatique</a>
            </article>
        </div>
    </div>

    <div id="connect">
        <div id="tweet" data-twitter-username="{{ app.twitter.username }}" data-twitter-hashtag="{{ app.twitter.hashtag }}">
            <blockquote cite="http://twitter.com/{{ app.twitter.username }}">
                chargement ...
            </blockquote>
            <p>
                Sur 
                <a class="twitter-link" href="http://twitter.com/{{ app.twitter.username }}" title="@{{ app.twitter.username }}">twitter</a>
                 le 
                <time datetime="2012-08-23" pubdate="pubdate">
                    <a href="http://twitter.com/antistatique/status/238651013966479361">
                        23 Août 2012
                    </a>
                </time>
            </p>
        </div>
        <script type="text/javascript">
            twttr.anywhere(function (T) {
                T("#tweet .twitter-link").hovercards({
                    username: function(node) {
                        return node.title;
                    }
                });
            });
        </script>

        <div id="more">
            <div id="blog">
                <h3>En direct du blog</h3>
                <time datetime="2012-08-23" pubdate="pubdate">23 août 2012</time>
                <p>Youpi le titre de l'article du blog qui peut prendre plusieurs lignes</p>
                <a href="/blog" class="action-blog">Le blog d'Antistatique</a>
            </div>
            {% include '_newsletter.html.twig' %}
        </div>

    </div>

{% endblock %}
