{% extends "layout.html.twig" %}

{% block title %}{{ 'homepage.title' | trans }}{% endblock %}

{% block baseline %}
    <div id="baseline">
        <section>
            <h1 class="title-separation">
                <span></span>
                {{ 'homepage.baseline' | trans }}
                {# @todo ajouter les liens pour la trad
                Nous sommes <a href="{{ path('team') }}">des artisans du web</a>, lausannois, curieux et <a href="/blog">exigeants</a>.  #}
            </h1>
            <a href="{{ path('contact') }}" class="action-contact">{{ 'homepage.contact' | trans }}</a>
        </section>
    </div>
{% endblock %}

{% block content %}

    <div id="work">
        <h3 class="title-separation">
            <span></span>
            {{ 'homepage.work.title' | trans }}
        </h3>
        <div class="works">
            <a id="uchitomi" href="#">
                <hgroup>
                    <h3>{{ 'homepage.work.uchitomi.title' | trans }}</h3>
                    <h5 class="title-separation x-long-sep magenta-sep">
                        <span></span>
                        {{ 'homepage.work.uchitomi.baseline' | trans }}
                    </h5>
                </hgroup>
            </a>
            <a id="rdr" href="#">
                <hgroup>
                    <h3>{{ 'homepage.work.rdr.title' | trans }}</h3>
                    <h5 class="title-separation x-long-sep magenta-sep">
                        <span></span>
                        {{ 'homepage.work.rdr.baseline' | trans }}
                    </h5>
                </hgroup>
            </a>
            <a id="tw" href="#" class="last">
                <hgroup>
                    <h3>{{ 'homepage.work.tehran.title' | trans }}</h3>
                    <h5 class="title-separation x-long-sep magenta-sep">
                        <span></span>
                        {{ 'homepage.work.tehran.baseline' | trans }}
                    </h5>
                </hgroup>
            </a>
        </div>
    </div>

    <div id="antistatique">
        <div class="about-us with-aside">
            <aside id="contact-us">
                <div id="work-together">
                    <h3 class="title-separation">
                        <span></span>
                        {{ 'antistatique.contact.work.title' | trans }}
                    </h3>
                    <p>
                        <a href="tel:0041216236303">+41 21 623 63 03</a><br/>
                        <a href="mailto:hello@antistatique.net">hello@antistatique.net</a>
                    </p>
                </div>
                <div id="stay-in-touch">
                    <h3 class="title-separation">
                        <span></span>
                        Gardons contact
                    </h3>
                    <p>
                        <a href="http://www.twitter.com/antistatique">Twitter</a><br/>
                        <a href="http://www.facebook.com/Antistatique">Facebook</a><br/>
                        <a href="http://www.linkedin.com/company/antistatique.net">LinkedIn</a><br/>
                        <a href="#RSS">RSS</a>
                    </p>
                </div>
            </aside>
            <article id="our-mission">
                <h1 class="title-separation long-sep">
                    <span></span>
                    {{ 'antistatique.mission.title' | trans }}
                </h1>
                <p>{{ 'antistatique.mission.description' | trans }}</p>
                <a href="/team" class="btn">{{ 'antistatique.mission.link' | trans }}</a>
            </article>
        </div>
    </div>

    <div id="connect">
        <div id="tweet" data-twitter-username="{{ app.twitter.username }}" data-twitter-hashtag="{{ app.twitter.hashtag }}">
            <blockquote cite="http://twitter.com/{{ app.twitter.username }}">
                {{ 'antistatique.loading' | trans }}
            </blockquote>
            <p>
                Sur 
                <a class="twitter-link" href="http://twitter.com/{{ app.twitter.username }}" title="@{{ app.twitter.username }}">twitter</a>
                 le 
                <time datetime="2012-08-23" pubdate="pubdate">
                    <a href="http://twitter.com/antistatique/status/238651013966479361">
                        23 Août 2012
                    </a>
                </time>
            </p>
        </div>

        <div id="more">
            <div id="blog">
                <h3 class="title-separation">
                    <span></span>{{ 'antistatique.blog.title' | trans }}
                </h3>
                <time datetime="2012-08-23" pubdate="pubdate">23 août 2012</time>
                <p>Youpi le titre de l'article du blog qui peut prendre plusieurs lignes</p>
                <a href="/blog" class="action-blog">Le blog d'Antistatique</a>
            </div>
            {% include '_newsletter.html.twig' %}
        </div>

    </div>

{% endblock %}
